@page
@model RestaurantApp.Pages.Restaurants.ListModel
@{
}

<h1>Restaurants</h1>
<br />
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-info">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
<br />
<br />
<table class="table" >
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Cuisine</th>
    </tr>
    @foreach (var restaurant in Model.Restaurants)
    {
<tr>
    <td>@restaurant.Name</td>
    <td>@restaurant.Location</td>
    <td>@restaurant.Cuisine</td>
    <td>
        <a asp-page="./Detail" asp-route-restaurantId="@restaurant.Id"><i class="fas fa-info-circle text-info"></i></a>
    </td>

    <td>
        <a asp-page="./Edit" asp-route-restaurantId="@restaurant.Id"><i class="fas fa-edit text-info"></i></a>
    </td>

    <td>
        <a asp-page="./Delete" asp-route-restaurantId="@restaurant.Id"><i class="fas fa-trash-alt text-info"></i></a>
    </td>
</tr>
    }
</table>
<br />
<a asp-page="./Edit" class="btn btn-info">Add New Restaurant</a>
<br />
<br />

@section footer {
    <div>@Model.Message</div>
}
